/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

 /* 表頭*/
 * {
    box-sizing: border-box;
    margin: 0 auto;
    
  }
  body{
    font-family: "Noto Sans";
    line-height: 1.5;
  }

  .container{
    border-bottom: 1px solid #F1F1F1 ;
  }

.header-content{
    max-width: 1296px;
    height: 96px;
    margin: 0 auto;
    background: pink;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    
}

.header-content .logo{
    width: 90px;
    height: 40px;
    margin: 28px 0; 
    border: 1px solid green ;
    position: absolute;
    left: 0;
}

.menu{
    width: 480px;
    gap: 40px;
    margin: 32px 0; 
    display: flex;
    justify-content: space-between;
    position: relative;
}
@media (max-width: 768px) {
    .menu{
        display: none;
    }

}
 /*.menu li::before,.menu li::after{
    position: absolute;
    -webkit-box-reflect: below 16px;
  }
  .menu li::before{
    top: 0;
    left: 0;
    content:"";
    color:red;
    display: block;
    width: 10px;
    height: 10px;
    border-top:1px solid #000;
    border-left: 1px solid #000;
  }
  .menu li::after{
    top: 0;
    right:0;
    content:"";
    display: block;
    width: 10px;
    height: 10px;
    border-top:1px solid #000;
    border-right: 1px solid #000;
  } */


.menu li{
    padding: 4px 8px;
    
}



.menu .btn{
    font-size: 16px;
    color: #000000;
    text-decoration: none;
    font-weight: 400;
    
}

.hamburger-menu{
    width: 30px;
    height: 20px;
    display: none;
}

@media (max-width: 768px) {
    .hamburger-menu{
        display: block;
    }

}













   /* 內容*/

  .list {
    max-width: 1296px;
    gap: 24px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
  }
  
  img {
    border-radius: 8px;
    display: block;
    border: 1px solid #f1f1f1;
  }
  
  .card {
    width: 636px;
    margin-bottom: 80px;
  }
  
  .card-content {
    margin-top: 16px;
    margin-left: 16px;
  }
  
  .card-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 33.6px;
    margin-bottom: 8px;
    color: #3b3b3b;
  }
  
  p {
    line-height: 24px;
    margin-bottom: 24px;
    color: #919191;
  }
  
  .tags {
    display: flex;
  }
  
  .tags li {
    border-radius: 16px;
    background: #f1f1f1;
    padding: 4px 12px;
    line-height: 24px;
    margin-right: 16px;
    color: #3b3b3b;
    font-weight: bold;
  }
  
  .pages{
    max-width: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 120px;
  }

  .pages .btn{
    display: block;
    width: 40px;
    border-radius: 4px;
    padding: 2px 13px;
    gap: 10px;
    font-size: 24px;
    text-align: center;
    line-height: 36px;
    text-decoration: none;
    color: #3B3B3B;
  }

  .pages .btn:hover{
    color: #FFFFFF;
    background: #1E1E1E;
  }

   /* 表尾*/